body {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}

.website__logo {
  height: 100px;
}

nav {
  background-color: #3c64e3;
}

h1 {
  color: #f9c2c4;
}

.test1 {
  width: 100%;
  background-color: #858ad6;
}

.test2 {
  width: 100%;
  background-color: #687cdc;
}
