#webUser {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  background-color: #f9c2c4;
  border-radius: 16px;
  height: 18em;
}

body {
  height: 100vh;
}

.home-wrapper {
  background: linear-gradient(#3c64e3, #687cdc, #858ad6);
  height: calc(100vh - 110px);
}

.dateCreated,
.userName,
.userAge,
.userEmail,
.userHeight,
.userWeight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
  color: black;
}

#webUser p {
  margin: 0.25em;
}

#webUser > div > p:first-child {
  color: #363535;
}

#home__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
.home__Header__text {
  color: #f9c2c4;
}

#allUser__wrapper {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

.userLogs,
.userGoals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data__container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.control__buttons {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  margin-top: 1em;
}

.icon__wrapper {
  box-sizing: border-box;
}

.control__buttons i {
  font-size: 24px;
  color: black;
}

.test {
  position: relative;
  font-family: sans-serif;
  font-size: 24px;
}

.edit-container {
  cursor: pointer;
  display: inline-grid;
  place-items: center;
  font-style: italic;
}

.edit-icon {
  position: relative;
  transform: scale(1, 1);
  transform-origin: bottom;
  transition: 500ms;
}

.edit-text {
  transform: scale(1, 0);
  transform-origin: top;
  transition: 500ms;
  font-size: 0.75em;
  text-align: center;
  position: absolute;
}

.edit-container:hover .edit-text {
  transform: scale(1, 1);
}

.edit-container:hover .edit-icon {
  transform: scale(1, 0);
}

.edit-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}

.save-Btn {
  width: 100%;
}
